@charset "utf-8";

/*==============================
about
==============================*/
.about {
  margin-bottom: 235px;
}
.about address {
  font-style: normal;
}
.about p, address {
  margin-bottom: 30px;
}
.about p:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 750px) {
  .about {
    margin-top: 40px;
  }
}
