@charset "utf-8";

/*-------------------------------
全ページ共通スタイル
--------------------------------*/

/*=================================
共通
=================================*/
html {
  font-size: 62.5%;
}
body {
  color: #24292E;
  font-size: 1.44rem;
  font-family: Arial,"Helvetica Neue","Hiragino Kaku Gothic ProN","Hiragino Sans",sans-serif;
}
img {
  max-width: 100%;
  vertical-align: bottom;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #24292E;
}
* {
  box-sizing: border-box;
  margin:0; 
  padding:0;
}
a:hover {
  opacity: 0.6;
  transition: 600ms;
}
.wrapper {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 4%;
}
.section_title {
  text-align: center;
  font-size: 2.4rem;
  margin-bottom: 65px;
}
.more {
  display: block;
  text-align: center;
  text-decoration: underline;
}
@media screen and (max-width: 750px) {
  .section_title {
    margin: 40px 0;
  }
}

@media screen and (min-width: 1280px) {
  .wrapper {
    padding: 0 60px;
  }
}

/*=================================
header
=================================*/
header {
  height: 270px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_logo {
  width: 120px;
}
.nav_list {
  display: flex;
  align-items: center;
}
.nav_item {
  margin-left: 30px;
}
.icon {
  width: 20px;
}

@media screen and (max-width: 750px) {
  header {
    flex-direction: column;
    justify-content: normal;
    height: auto;
  }
  .header_logo {
    margin: 20px 0 0;
  }
  .nav_item {
    font-size: 1.28rem;
    margin-left: 20px;
    padding: 10px 0;
  }
}

/*=================================
footer
=================================*/
footer {
  background-color: #24292E;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  font-size: 1rem;
}



/*-------------------------------
各ページのスタイル
--------------------------------*/

/*=============================
aboutページのスタイル
==============================*/
.about {
  margin-bottom: 235px;
}
.about address {
  font-style: normal;
}
.about p, address {
  margin-bottom: 30px;
}
.about p:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 750px) {
  .about {
    margin-top: 40px;
  }
}

/*=============================
worksページのスタイル
==============================*/
.works {
  margin-bottom: 215px;
}
.works .photo_list {
  max-width: 640px;
  margin: 0 auto;
}
.works .photo_list li {
  margin-bottom: 140px;
}
.works .photo_list li .works_img {
  margin-bottom: 30px;
}
.works .photo_list li .works_img img {
  width: 100%;
}
.works_text h3 {
  margin-bottom: 10px;
}

/*=============================
newsページのスタイル
==============================*/
.news {
  margin-bottom: 255px;
}
.news dl {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #C8C8C8;
}

.news dt {
  width: calc(130/840*100%);
  border-bottom: 1px solid #C8C8C8;
  padding: 15px;
}
.news dd {
  width: calc(710/840*100%);
  border-bottom: 1px solid #C8C8C8;
  padding: 15px;
}

@media screen and (max-width: 750px) {
  .news dl {
    flex-direction: column;
    margin-bottom: 255px;
  }
  .news dt {
    width: 100%;
    border-bottom:  0;
    padding-bottom: 0;
  }
  .news dd {
    width: 100%;
    padding-top: 0;
  }
}

/*=============================
contactページのスタイル
==============================*/
.contact {
  margin-bottom: 245px;
}
.contact table {
  width: 100%;
  margin-bottom: 30px;
}
.contact th {
  width: calc(117/840*100%);
  text-align: left;
  vertical-align: top;
  font-weight: normal;
}
.contact td {
  width: calc(723/840*100%);
}
.contact input,
.contact textarea {
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid #C8C8C8;
  padding: 0.8em;
}
.contact textarea {
  height: 160px;
}
.contact .btn_area {
  text-align: center;
}
.contact .contact_btn {
  width: 200px;
  padding: 15px 85px;
  background-color: #24292E;
  color: #fff;
  border: none;
}
.contact .contact_btn:hover {
  background-color: rgba(36,41,46,0.6);
  transition: 600ms;
}

@media screen and (max-width: 750px) {
  .contact th,
  .contact td {
    display: block;
    width: 100%;
  }
}