@charset "utf-8";

/*----------------------------------
contactページのスタイル
-----------------------------------*/
.contact {
  margin-bottom: 245px;
}
.contact table {
  width: 100%;
  margin-bottom: 30px;
}
.contact th {
  width: calc(117/840*100%);
  text-align: left;
  vertical-align: top;
  font-weight: normal;
}
.contact td {
  width: calc(723/840*100%);
}
.contact input,
.contact textarea {
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid #C8C8C8;
  padding: 0.8em;
}
.contact textarea {
  height: 160px;
}
.contact .btn_area {
  text-align: center;
}
.contact .contact_btn {
  width: 200px;
  padding: 15px 85px;
  background-color: #24292E;
  color: #fff;
  border: none;
}
.contact .contact_btn:hover {
  background-color: rgba(36,41,46,0.6);
  transition: 600ms;
}

@media screen and (max-width: 750px) {
  .contact th,
  .contact td {
    display: block;
    width: 100%;
  }
}