@charset "utf-8";

/*-----------------------------
newsページのスタイル
------------------------------*/
.news {
  margin-bottom: 255px;
}
.news dl {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #C8C8C8;
}

.news dt {
  width: calc(130/840*100%);
  border-bottom: 1px solid #C8C8C8;
  padding: 15px;
}
.news dd {
  width: calc(710/840*100%);
  border-bottom: 1px solid #C8C8C8;
  padding: 15px;
}

@media screen and (max-width: 750px) {
  .news dl {
    flex-direction: column;
    margin-bottom: 255px;
  }
  .news dt {
    width: 100%;
    border-bottom:  0;
    padding-bottom: 0;
  }
  .news dd {
    width: 100%;
    padding-top: 0;
  }
}